@charset "UTF-8";


body {
  font-family: Arial, sans-serif;
  background-color: #287cd0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  background: rgb(161, 133, 133);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

select {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.tabuada {
  margin-top: 20px;
  text-align: left;
}